
---
import homeIcon from '@assets/icons/home.svg';
import productsIcon from '@assets/icons/prod.svg';
import testimonialsIcon from '@assets/icons/testimonials.svg';
import contactIcon from '@assets/icons/contact.svg';
const links = [
  { href: '/', text: 'Home', icon: homeIcon },
  { href: '/products/', text: 'Products', icon: productsIcon },
  { href: '/testimonials/', text: 'Testimonials', icon: testimonialsIcon },
  { href: '/contact/', text: 'Contact', icon: contactIcon },

  ];
const currentPath = Astro.url.pathname;
---
<!-- flex flex-col md:p-10 md:mr-4 md:justify-between md:h-svh items-center -->
  <aside class="sticky top-0 right-0 py-3 bg-[#F5F0F090] z-1 font-mono flex flex-col justify-center items-center lg:p-10 lg:mr-4 lg:justify-between lg:h-svh">
    <div>
      <h2 class="text-2xl lg:text-3xl font-semibold">EcoSolutions</h2>
      <p class="hidden lg:block text-[#876363]">Innovate for a sustainable future.</p>
    </div>
    
    <nav class="">
      <ul class="flex gap-2 lg:flex-col">
        {links.map(({ href, text, icon }) => (
          <li class="flex justify-center items-center md:block">
            <a
              href={href}
              class:list={["text-neutral-900 text-2xl rounded-full p-6 lg:py-8 lg:px-8 hover:bg-[#e4e2e2] lg:rounded-r-full active:bg-zinc-300 transition-colors duration-200 ease-in-out flex items-center gap-3",
              {
                'bg-gradient-to-t to-blue-200 from-green-200': currentPath === href
              }

              ]}>
                <img src={icon.src} alt="" class="w-5 h-auto" />
                <span class="text-neutral-900 hidden md:block text-sm lg:text-xl">{text}</span>
              </a>
           </li>
          ))}
        </ul>
      </nav>

      <span class="hidden lg:block">Made by Stiven Guanoquiza 🌍</span>
  </aside>