---
import '../styles/global.css'
import Sidebar from '../components/Sidebar.astro'
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="grid lg:grid-cols-[auto_1fr]">
    <Sidebar />
    <main>
      <slot />
    </main>
  </body>